body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;    
    flex:1;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 0 20px;

}

.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    min-height: 40px;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;

}

.section1 {
    display: flex;
    flex:1;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 5%;
    gap:5%;
    
    
}
.sub11 {
    display: flex;
    flex-direction: column;
}
.sub12 {
    min-width: 47%;
    background-color: brown;
}

.section2 {
    display: flex;
    flex:1;

    
}

.section3 {
    background-color: #e5e7eb;
    flex:1;


}

.section4 {
    display: flex;
    flex:1;

    background-color: #3882f6;

}
.main-text {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;


}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}