body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;    
    flex:1 1 auto;
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 0 15%;

}

.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    min-height: 40px;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;

}

.section1 {
    display: flex;
    flex:1 1 auto;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 5% 15%;
    gap:5%;
    
    
    
}
.sub11 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex-shrink: 1;
    max-width: 47%;
}
.sub12 {
    display: flex;
    min-width: 47%;
    background-color: brown;

}

img {max-width:100%;
    object-fit: scale-down;
}

.section2 {
    display: flex;
    flex:1;
    min-height: 80vh;
    padding: 5vh 15%;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 10vh;

    
}

.section22{
    display: flex;
    min-height: 50vh;
    gap: 5%;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 60%;
}
.border{
    min-width: 100%;
    min-height: 100%;
    background-color: #1F2937;
}

.info {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-self: center;
}

.section3 {
    background-color: #e5e7eb;
    display: flex;
    min-height: 80vh;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 20%;


}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.author {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
}

.section4 {
    min-height: 20vh;
    display: flex;
    flex:1;
    border-width: 15vh;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    padding: 0 15vh;
    background-color: #3882f6;
    justify-content: flex-start;
    align-content: center;
    color: #f9faf8;


}

.main4 {
    font-weight: 900;
    font-size:large;
}

.left4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: auto;
}

.right4{
    display: flex;
    align-self: center;
    justify-content: center;
}
.main-text {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;

}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;


}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

button {
    width: 100px;
    max-height: 30px;
    border-radius: 8px;
}